section.hero
	.hero__content.container
		.hero__content-top
			h1.hero__top-title Find the Best Solution in Seconds
			p.hero__top-descr If debugging is the process of removing software bugs.
			.hero__top-buttons
				a.hero__top-button.regular__btn(href="#") get started
				a.hero__top-button.regular__btn(href="#") try for free
		.hero__content-bottom
			img.hero__bottom-img(src="./img/screen2.png", alt="Screen Dashboard")
			