section.pricing.container
	.pricing__top
		h10.pricing__top-title Simple Pricing for Your Team 
		p.pricing__top-descr Slate helps you see how many more days you need 
	.pricing__cards
		.pricing__card
			h3.pricing__card-title Education 
			p.pricing__card-descr Brief price Description 
			img(class="pricing__card-img" src="../img/pricing1.png")
			.pricing__cardprice
				p.pricing__cardprice-price 0
				.pricing__cardpriceinfo
					p.pricing__cardpriceinfo-curr $
					p.pricing__cardpriceinfo-per Per/month
			span.pricing__card-text Only 2 Operators
			span.pricing__card-text Abandoned Cart
			span.pricing__card-text Facebook & Instagram Ads
			span.pricing__card-text Order Notifications 
			span.pricing__card-text Landing Pages
			a(href="#").pricing__card-btn Order Now
		.pricing__card
			h3.pricing__card-title Education 
			p.pricing__card-descr Brief price Description 
			img(class="pricing__card-img" src="../img/pricing2.png")
			.pricing__cardprice
				p.pricing__cardprice-price 10
				.pricing__cardpriceinfo
					p.pricing__cardpriceinfo-curr $
					p.pricing__cardpriceinfo-per Per/month
			span.pricing__card-text Only 2 Operators
			span.pricing__card-text Abandoned Cart
			span.pricing__card-text Facebook & Instagram Ads
			span.pricing__card-text Order Notifications 
			span.pricing__card-text Landing Pages
			a(href="#").pricing__card-btn Order Now
		.pricing__card
			h3.pricing__card-title Education 
			p.pricing__card-descr Brief price Description 
			img(class="pricing__card-img" src="../img/pricing3.png")
			.pricing__cardprice
				p.pricing__cardprice-price 99
				.pricing__cardpriceinfo
					p.pricing__cardpriceinfo-curr $
					p.pricing__cardpriceinfo-per Per/month
			span.pricing__card-text Only 2 Operators
			span.pricing__card-text Abandoned Cart
			span.pricing__card-text Facebook & Instagram Ads
			span.pricing__card-text Order Notifications 
			span.pricing__card-text Landing Pages
			a(href="#").pricing__card-btn Order Now
					
