section.process.container 
	.process__content
		.process__left
			.process__left-info
				h10.process__left-title Quick & Easy Process
				p.process__left-descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plantheir schedule.
			.process__left-btns
				a.process__left-btn sign up for free 
				a.process__left-btn find out more
		img(src="../img/process.png" class="process__img") 
		.process__media-btns
			a.process__left-btn sign up for free
			a.process__left-btn find out more
	.operations
		.operations__content
			img(src="../img/operations.png" class="operations__img")
			.operations__right
				.operations__right-info
					h10.operations__right-title Perfect for Operations HR and Finance
					p.operations__right-descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
				.operations__right-btns
					a.operations__right-btn Button
			.operations__media-btns
				a.operations__media-btn Button
