section.process.container 
	.process__content
		.process__left
			.process__left-info
				h10.process__left-title Quick & Easy Process
				p.process__left-descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plantheir schedule.
			.process__left-btns
				a.process__left-btn sign up for free 
				a.process__left-btn find out more
		img(src="../img/process.png" class="process__img") 
		.process__media-btns
			a.process__left-btn sign up for free 
			a.process__left-btn find out more