section.process.container 
	.process__content
		h10.process__content-title Quick & Easy Process
		p.process__content-descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
		.process__content-buttons
			a(href="#").process__content-button sign up for free
			a(href="#").process__content-button find out more
		img.process__content-img(src="./img/process.png", alt="Process image")
	.operations__content
		h10.operations__content-title Quick & Easy Process
		p.operations__content-descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
		.operations__content-buttons
			a(href="#").operations__content-button Button
		img.operations__content-img(src="./img/operations.png", alt="Operations image")
	.solutions__content
		h10.solutions__content-title Quick & Easy Process
		p.solutions__content-descr Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
		.solutions__content-buttons
			a(href="#").solutions__content-button sign up for free
			a(href="#").solutions__content-button find out more
		img.solutions__content-img(src="./img/solutions.png", alt="Solutions image")
	