section.subscribe.container
	h10.subscribe__title SUBSCRIBE
	p.subscribe__descr Subscribe to get exclusive news & offer
	form.subscribe__form(action='')
		input(type="email" placeholder="Enter Your Adress Email" class="subscribe__form-input")
		button(for="subscribe__form-input" class="subscribe__form-button") SUBSCRIBE