footer.footer
	.footer__content.container
		.footer__content-left
			.footer__left-links
				ul.footer__left-items
					li.footer__left-item
						a.footer__left-link Price Item One
						li.footer__left-item
						a.footer__left-link Price Item Two
						li.footer__left-item
						a.footer__left-link Price Item Three
				ul.footer__left-items
					li.footer__left-item
						a.footer__left-link Price Item One
						li.footer__left-item
						a.footer__left-link Price Item Two
						li.footer__left-item
						a.footer__left-link Price Item Three
			span.footer__left-ps Just type what`s on your mind	
		.footer__content-middle
			.footer__middle-map
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A04a9c4557e21fc251b5ac7b9397479b945ee61fcc3166b05756bb34afbac4d0d&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
		.footer__content-right
			.footer__right-items
				img(src="./img/footer1.svg")
				a.footer__right-link(href="#") 7480 Mockingbird Hill undefined
			.footer__right-items
				img(src="./img/footer2.svg")
				a.footer__right-link(href="#") (239) 555-0108
			.footer__right-links
				a.footer__right-icon(href="#")
					img(src="./img/footer3.svg")
				a.footer__right-icon(href="#")
					img(src="./img/footer4.svg")
				a.footer__right-icon(href="#")
					img(src="./img/footer5.svg")
				