header.header.container
	.header__wrap
		.header__content
			a.header__logo-link(href="#") 
				img.header__link-icon(src="./img/headerlogo.svg", alt="Main Logo")
			nav.nav
				input(class="menu__toggle" id="menu__toggle" type="checkbox")
				label(class="menu__btn" for="menu__toggle")
					span.menu__btn-item
				ul.header__menu
					li.header__menu-item
						a.header__menu-link(href='#') Home
					li.header__menu-item
						a.header__menu-link(href='#') Product
					li.header__menu-item
						a.header__menu-link(href='#') About
					li.header__menu-item
						a.header__menu-link(href='#') Contact
			a.header__btn.regular__btn(href="#") Sign Up