<svg width="63" height="53" viewBox="0 0 63 53" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M51.0873 26.5H45.4109V35.0145H36.8964V40.6909H51.0873V26.5ZM17.0291 17.9855H25.5436V12.3091H11.3527V26.5H17.0291V17.9855ZM56.7636 0.956421H5.67636C4.1709 0.956421 2.72709 1.55446 1.66257 2.61899C0.598044 3.68351 0 5.12731 0 6.63277V46.3672C0 47.8727 0.598044 49.3165 1.66257 50.381C2.72709 51.4455 4.1709 52.0436 5.67636 52.0436H56.7636C58.2691 52.0436 59.7129 51.4455 60.7774 50.381C61.842 49.3165 62.44 47.8727 62.44 46.3672V6.63277C62.44 5.12731 61.842 3.68351 60.7774 2.61899C59.7129 1.55446 58.2691 0.956421 56.7636 0.956421ZM56.7636 46.3672H5.67636V6.63277H56.7636V46.3672Z" fill="#03D6F3"/>
</svg>
