@import "./components/mixins.scss";
@import "./components/variables.scss";

@media (max-width:600px) {
    //header
    .header {
        &__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            position: absolute;
            top:10px;
            left: 0px;
            z-index: 30;
            padding: 15px 3px 0px 3px;
            .header__logo-link {
                order: 1;
                min-width: 186px;
                margin-left: 0px;
            }
            .header__btn, .regular__btn {
                order:2;
                padding: 15px 24px;
                margin-right: 0px;
            }
            .nav {
                order: 3;
                .menu__btn{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 48px;
                    right:3px;
                    width: 26px;
                    height: 26px;
                    cursor: pointer;
                    z-index: 2;
                  }
                   
                .menu__btn-item,
                .menu__btn-item::before,
                .menu__btn-item::after {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: #fff;
                    transition-duration: .25s;
                }
                ul.header__menu {
                    display: block;
                    position: fixed;
                    visibility: hidden;
                    top: 0;
                    left: -100%;
                    width: 300px;
                    height: 100%;
                    margin: 0;
                    padding: 80px 0;
                    list-style: none;
                    background-color: #ECEFF1;
                    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
                    transition-duration: .25s;
                    .header__menu-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        padding: 12px 24px;
                        color: #fff;
                        text-decoration: none;
                        transition-duration: .25s;
                        margin-right: 0px;
                        }
                    .header__menu-item:hover {
                        background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
                        width: 100%;
                        }
                }
                .menu__btn-item::before {
                    content: '';
                    top: -8px;
                    width: 44px;
                }
                .menu__btn-item {
                      top:0px;
                      width: 33px;
                }
                .menu__btn-item::after {
                    content: '';
                    top: 8px;
                    width: 22px;
                }
                .menu__toggle {
                    opacity: 0;
                }
                .menu__toggle:checked ~ .menu__btn-item{
                    transform: rotate(45deg);
                }
                .menu__toggle:checked ~ .menu__btn-item::before{
                    top: 0;
                    transform: rotate(0);
                }
                .menu__toggle:checked ~ .menu__btn-item::after{
                    top: 0;
                    transform: rotate(90deg);
                }
                .menu__toggle:checked ~ ul.header__menu{
                    visibility: visible;
                    left: 0;
                    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    
                    
                }
                .menu__toggle:checked ~ .header__btn,.regular__btn {

                }
            }
        }
    }
    //hero
    .hero {
        &__content {
            &-top {
                .hero__top-title {
                    @include secondheadline
                }
                .hero__top-buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .hero__top-button {
                        margin-right: 0px;
                    }
                    .hero__top-button:first-child {
                        margin-bottom: 13px; 
                    }
                }
            }
        }
    }
    //built
    .built{
        
    }
}